* {
    margin: 0;
    padding: 0;
    box-sizing: border box;
}

main {
    height: calc(100vh - 100px);
}
.banner{
    background-color: #090b12;
}
.container-app {
    display: flex;
    background-color: #141922;
    height: 100%;
}

.container-home {
    background-color: black;
    height: 150;
    flex-direction: column;
    flex-basis: 20%;
}

.container-music {
    height: 100%;
    flex-direction: column;
    width: 100%;
    overflow: auto;
    padding: 10px;
}

.immagine-logo {
    width: 114px;
    padding-left: 10px;
    padding-top: 10px;
}

.immagine-home {
    width: 10px;
    padding-left: 10px;

}

.ricerca-immagine {
    width: 10px;
    padding-left: 10px;
}

.menu {
    color: white;
    display: inline;
    font-size: 12px;
}

.serch-music {
    color: white;
    display: inline;
    font-size: 12px;
}

.library {
    width: 10px;
    padding-left: 10px;
}

.song-preferite {
    color: white;
    display: inline;
    font-size: 12px;
}

h4 {
    color: white;
    padding-left: 10px;
    padding-top: 10px;
}

.fa-solid {
    color: black;
    background-color: gray;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 5px;
}

p {
    color: white;
    font-size: 12px;
    padding-left: 5px;
    padding-top: 5px;
}

.immagine-profilo {
    width: 10px;
    padding-left: 10px;
}

.download {
    width: 10px;
    padding-left: 10px;
}

.name-profile {
    color: white;
    display: inline;
    font-size: 12px;
}

.installa-app {
    color: white;
    display: inline;
    font-size: 12px;
}

.container-playlists {
    height: calc(100% - 50px)
}

.container {
    height: 50px;
}

.banner {
    height: 40px;
    text-align: right;
    margin-top: 8px;
    margin-right: 5px;
}

.button {
    color: white;
    margin: 5px;
    border: 2px solid #fff;
    border-radius: 8px;
}

.options {
    color: white;
    display: inline-block;
}

.style {
    margin: 0 auto;
    text-align: center;
}

h2 {
    color: white;
    margin-top: 15px;
    ;
    margin-left: 10px;
}

.img {
    max-width: 100%;
    /* margin-right: 20px; */
}

.card-img {
    width: calc(100% / 6);
}

.canzoni-recenti {
    display: flex;
    margin-top: 15px;
    gap: 10px;
}

img p {
    text-align: center;
}

.img-description {
    text-align: center;
    font-size: 10px;
}

.autor {
    color: gray;
    font-size: 10px;
    text-align: center;
}

.suggerimenti {
    color: gray;
    margin-left: 10px;
}


.daily-mix {
    display: flex;
}

.daily-mix {
    display: flex;
    gap: 10px;
}

.artisti-mix {
    display: flex;
}

.artisti-mix {
    gap: 10px
}

.rodeus {
    border-radius: 5px;
}

footer {
    background-color: grey;
    height: 100px;
    overflow: auto;
    z-index: 200;
    position: relative;
}

.footer-img {
    max-width: 50px;
}

.container-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-card {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.fa-regular {
    margin-top: 10px;
}

.volume {
    width: 100px;
    padding: 10px 0;
}

.volume-slider {
    -webkit-appearance: none;
    width: 100%;
    height: 4px;
    background: #4c4c4c;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
}

.footer-card3 {
    align-items: center;
    display: flex;
}

.container-processo {
    align-items: center;
    gap: 10px;
    width: 100%;
    max-width: 500px;
    font-family: sans-serif;
    color: #b3b3b3;
    display: flex
}

.barra-progresso {
    appearance: none;
    width: 100%;
    height: 4px;
    background: #4c4c4c;
    border-radius: 5px;
}
.container-play{
    display: flex;
    justify-content: center;
}

@media screen and (max-width:768px) {
  .card-img{
    width: calc((100% / 4) - 10px);
  }
  .canzoni-recenti{
    flex-wrap: wrap;
  }  
}
@media screen and ( max-width:480px){
.card-img{
    width: calc((100% / 2) - 10px);   
}
.my-music{
    display: none;
}
.menu{
    display: none;
}
.serch-music{
    display: none;
}
.song-preferite{
    display: none;
}
H4{
    display: None;
}
.playlist-canc{
    display: none;
}
.name-profile{
    display: none;

}
.installa-app{
    display: none;
}
}