* {
    margin: 0;
    padding: 0;
    box-sizing: border box;
}

main {
    height: calc(100vh - 150px);
}

.container-app {
    display: flex;
    background-color:midnightblue;;
}

.container-home {
    background-color: black;
    height: calc(100vh - 150px);
    flex-direction: column;
    flex-basis: 20%;
}

.container-music {
    height: calc(100vh - 150px);
    flex-basis: 80;
    flex-direction: column;
    width: 100%;
}

.immagine-logo {
    width: 114px;
    padding-left: 10px;
    padding-top: 10px;
}
.immagine-home{
     width: 10px;
     padding-left: 10px;
    
}
.ricerca-immagine{
    width: 10px;
    padding-left: 10px;
}

.menu{
    color: white;
    display: inline;
    font-size: 12px;
}
.serch-music{
     color: white;
    display: inline;
    font-size: 12px;
}

.library{
width: 10px;
    padding-left: 10px;
}
.song-preferite{
color: white;
    display: inline;
    font-size: 12px;
}
h4{
    color: white;
    padding-left: 10px;
    padding-top: 10px;
}
.fa-solid{
    color: black;
    background-color: gray;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 5px;
}
p{
    color: white;
    font-size: 12px;
    padding-left: 5px;
    padding-top: 5px;
}

.immagine-profilo{
 width: 10px;
    padding-left: 10px;
}
.download{
 width: 10px;
 padding-left: 10px;
}
.name-profile{
color: white;
    display: inline;
    font-size: 12px;
}
.installa-app{
color: white;
    display: inline;
    font-size: 12px;
}
.container{
    margin-top: 50px;
}
.banner{
    height: 40px;
    text-align: right;
    margin-top: 8px;
    margin-right: 5px;
}
.button{
    color: white;
    margin margin-top: 5px;
    border:2px solid #fff;
    border-radius:8px;
}
.options{
    color: white;
    display: inline-block;
}
.style{
    margin: 0 auto;
    text-align: center;
}
h2{
    color: white;
    margin-top:15px;;
    margin-left: 10px;
}
.img{
    width: 70%;
    margin-left: 20px;
}
.canzoni-recenti{
    display: flex;
    margin-top: 15px;
}
img p {
    text-align: center;
}
.img-description{
    text-align: center;
    font-size: 10px;
}
.autor{
    color: gray;
    font-size: 10px;
    text-align: center;
}
.suggerimenti{
    color: gray;
    margin-left: 10px;
}
.playlist{
    display: flex;
}
.img-mix{

}
footer {
    background-color: grey;
    height: 100px;
    overflow: auto;
}